<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        h1{
            color: #660066
        }

        body{
            background-color: #f5e6ff
        }
        nav {
            background-color: #8979da;
            color: white;
            text-align: center;
            padding: 10px;
        }
    </style>
    <nav>
        <h2>{{post.title}} | Category: {{post.category.name}}</h2>
    </nav>
    <h1>{{post.content}}</h1>

    <h2>{{post.author.username}} | Created at: {{post.created_at}}</h2>
</body>
</html>